body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body #wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #97a1a2;
  background-image: url('https://github.com/msdos14/love/blob/master/assets/images/couple.jpg?raw=true');
  background-size: cover;
  background-position: center;
}
body #wrapper > div {
  width: 300vw;
  height: 98vh;
}
body #wrapper .header {
  font-family: 'Lovers Quarrel', cursive;
  width: 100%;
  position: fixed;
  color: white;
  text-align: center;
  font-size: 6em;
  top: 20px;
}
body #wrapper .header .you {
  color: #be1830;
}
@media (max-width: 768px) {
  body #wrapper .header {
    font-size: 4em;
    top: 20px;
  }
}
@media (max-width: 992px) {
  body #wrapper .header {
    font-size: 5em;
    top: 20px;
  }
}
@media (max-width: 576px) {
  body #wrapper .header {
    font-size: 4em;
    top: 20px;
  }
}
body #wrapper .controller {
  position: fixed;
  bottom: 60px;
  left: 50%;
  z-index: 100;
  width: auto;
  height: auto;
  margin-left: -75px;
  font-size: 0;
}
body #wrapper .controller .btn:nth-child(-n+3) {
  border-top-width: 1px;
}
body #wrapper .controller .btn:nth-child(3n) {
  border-right-width: 1px;
}
body #wrapper .controller .btn {
  display: inline-block;
  padding: .8em 1.4em;
  background: transparent;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 180ms ease-out;
  user-select: none;
  font-weight: bold;
  cursor: pointer;
}
body #wrapper .controller .btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-top-width: 0;
  border-right-width: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 50px;
}
body #wrapper .controller .btn:focus {
  outline: none;
}
body #wrapper .controller .btn--ghost {
  border: 1px solid #0f0f0f;
  color: #0f0f0f;
}
body #wrapper .controller .btn--ghost:hover {
  background: #0f0f0f;
  color: #fff;
}
body #wrapper .section {
  float: left;
  width: 33.33%;
  height: 98vh;
}
body #wrapper #section1 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 98vh;
  position: relative;
}
body #wrapper #section1 .row .container {
  flex-shrink: 6;
  flex-basis: 300px;
  width: 300px;
  height: 350px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
body #wrapper #section1 .row .container:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
body #wrapper #section1 .row .container p {
  font-family: 'Lovers Quarrel', cursive;
  text-align: center;
  font-size: 3em;
}
body #wrapper #section1 .row .container #heart {
  background-image: url("https://github.com/msdos14/love/blob/master/assets/images/coeur.png?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 100px;
  width: 100px;
  height: 100px;
}
body #wrapper #section2 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 98vh;
  position: relative;
}
body #wrapper #section2 .row .container {
  flex-shrink: 6;
  flex-basis: 300px;
  width: 300px;
  height: 350px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
body #wrapper #section2 .row .container:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
body #wrapper #section2 .row .container p {
  font-family: 'Lovers Quarrel', cursive;
  text-align: center;
  font-size: 3em;
}
body #wrapper #section2 .row .container #world {
  background-image: url("https://github.com/msdos14/love/blob/master/assets/images/globe-icon.png?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 100px;
  width: 100px;
  height: 100px;
}
body #wrapper #section3 .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 98vh;
  position: relative;
}
body #wrapper #section3 .row .container {
  flex-shrink: 6;
  flex-basis: 300px;
  width: 300px;
  height: 350px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
body #wrapper #section3 .row .container:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
body #wrapper #section3 .row .container p {
  font-family: 'Lovers Quarrel', cursive;
  text-align: center;
  font-size: 3em;
}
body #wrapper #section3 .row .container #face {
  background-image: url("https://github.com/msdos14/love/blob/master/assets/images/face.png?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 100px;
  width: 100px;
  height: 100px;
}
body #wrapper #section3 .row .container #tear {
  background-image: url("https://github.com/msdos14/love/blob/master/assets/images/tear.png?raw=true");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 112px;
  top: -55px;
  width: 30px;
  height: 30px;
}
body .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
body .footer .container {
  padding-right: 15px;
  padding-left: 15px;
}
body .footer .container .text-muted {
  text-align: right;
  margin: 20px 0;
  color: white;
}
/* Spinner */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
/* Loader */
#loader {
  z-index: 1001;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
}
.loaded #loader {
  opacity: 0;
}
.loaded #loader-wrapper {
  visibility: hidden;
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
